.container{
    font-size: 16px;
    width: 2.4em;
    height: 2.4em;
    border-radius: 100px;
    color: var(--fill);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s ease;
    p{
        font-size: 1em;
        font-weight: 600;
        font-family: var(--fontNormal);
    }
    &:hover{
        transform: translateY(-4px);
    }
}