.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontNormal);
  font-size: 16px;
}
.containerWrapper {
  width: 80%;
  z-index: 2;
}
.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(62px);
  z-index: 1;
  div {
    width: 70%;
    height: 60%;
    border-radius: 0 80px 0 80px;
    opacity: 0.6;
  }
}
.imgMainContainer {
  margin: auto;
  width: 90%;
  max-width: 1800px;
  margin: auto;
  height: 458px;
  border-radius: 0 0 40px 40px;
  background-color: var(--fill);
  position: relative;
  img {
    width: 100%;
    border-radius: 0 0 40px 40px;
    object-fit: cover;
    object-position: center;
  }
}
.titleContainer {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  overflow: hidden;
  h1 {
    font-size: 4em;
    font-family: var(--fontTitles);
  }
  hr {
    border-radius: 1em;
    border: 2px solid var(--fill);
  }
}
.aboutPageContainer {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-bottom: 2.5em;
  max-width: 1600px;
  margin: auto;
  .aboutSectionDescrip {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    text-align: justify;
    margin: .8em 0;
  }
  .aboutSection {
    width: 100%;
    padding: 12px;
    .button {
      font-family: var(--fontTitles);
      font-size: 1.5em;
      div {
        display: flex;
        align-items: center;
        svg {
          width: 1.2em;
        }
      }
      hr {
        width: 0;
        transition: width 1s ease;
      }
      &:hover hr {
        width: 100%;
      }
    }
  }
  .aboutElement {
    width: 100%;
    display: flex;
    margin: 12px 0;
    .aboutElementDesc {
      width: 100%;
      font-size: 1.25em;
      align-self: center;
    }
    .aboutElementDesc_2 {
      margin: 1em 0;
    }
  }
}

.aboutElementTitle {
  font-size: 2.4em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-family: var(--fontTitles);
  width: 40%;
  min-width: 200px;
  max-width: 202px;
}
.pagesImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  h3 {
    margin: auto;
    font-family: var(--fontTitles);
    font-size: 30px;
  }
  .pagesImg {
    width: 100%;
    max-width: 800px;
    height: 450px;
    position: relative;
    margin: 12px 0;
    background-color: var(--fill);
    border-radius: 12px;
    img {
      border-radius: 12px;
      object-fit: cover;
      object-position: top;
    }
  }
}

.overflow{
  overflow: hidden;
}
@media screen and (max-width: "550px") {
  .aboutElementTitle {
    min-width: 150px;
  }
}
@media screen and (max-width: "500px") {
  .container{
    font-size: 13px;
  }
}
@media screen and (max-width: "420px") {
  .aboutElementTitle {
    min-width: 120px;
  }
}