.container {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color);
}
.overflow{
  overflow: hidden;
}
.greeting {
  display: flex;
  font-size: 60px;
  font-family: "Montserrat";
  text-align: center;
}
.nameWrapper {
  position: relative;
  font-family: "inzdeco";
}
.degree {
  display: flex;
  font-size: 30px;
}
.waveWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .wave {
    width: 100%;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url("/svg/wave.svg");
    background-repeat: repeat-x;
  }
  .waveLight {
    width: 100%;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url("/svg/waveLight.svg");
    background-repeat: repeat-x;
  }
}
