.container {
  padding: 140px 0.75em 80px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;
}
.titleContainer {
  z-index: 4;
  width: 75%;
  margin: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-family: var(--fontTitles);
  color:var(--color);
  font-size: 4em;
  .hr {
    transition: border 1s ease;
    border: 1px solid var(--highlight);
    width: 100%;
    margin-left: 0.4em;
  }
}
.formWrapper {
  z-index: 4;
  width: 100%;
  max-width: 50em;
  min-width: 20em;
  transition: border 1s ease;
  border: 2px solid var(--highlight);
  border-radius: 0.75em;
  position: relative;
  margin: 3em auto;
  padding: 1.5em 1.5em 3em 1.5em;
  .h2 {
    width: fit-content;
    margin: 0 0 0 1em;
    padding: 0 0.4em 0 0;
    position: absolute;
    top: -10%;
    color: var(--color);
    background-color: var(--background);
    display: flex;
    align-items: center;
    font-family: var(--fontTitles);
    font-size: 2.5em;
    line-height: 20px;
    svg {
      width: 1.2em;
      height: 1.2em;
      margin: 0.5em 0.4em;
    }
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: var(--fontNormal);
    label {
      color: var(--color);
      font-size: 1.25em;
      margin: 1.5em 0.75em 0;
    }
    input {
      color: var(--background);
      background: var(--input);
      border-radius: 0.75em;
      padding: 0.75em;
      &:focus-visible {
        outline: none;
        background: var(--inputFocus);
      }
      &::placeholder{
        color: var(--background);
      }
    }
    .buttonSend {
      font-family: var(--fontNormal);
      font-weight: 600;
      width: 75%;
      margin: 3em auto 0;
      border-radius: 0.75em;
      background: var(--color);
      padding: 0.75em;
      color: var(--background);
      transition: all 0.2s ease;
      transition-property: background, color, transform;
      &:hover {
        background: var(--highlight);
        transform: translateY(-0.25em);
      }
    }
  }
}
.otherMethodsWrapper {
  z-index: 4;
  width: 100%;
  max-width: 40em;
  min-width: 20em;
  margin: auto;
  border-radius: 0.75em;
  transition: border 1s ease;
  border: 2px solid var(--highlight);
  padding: 0.75em;
  position: relative;
  .h2 {
    width: fit-content;
    padding: 0 0.4em;
    display: flex;
    align-items: center;
    position: relative;
    top: -1.3em;
    font-family: var(--fontTitles);
    color: var(--color);
    font-size: 1.9em;
    background-color: var(--background);
    margin-left: 1em;
    img {
      width: 1.4em;
      height: 1.4em;
      transition: transform 0.8s ease;
      margin: 0 0.2em 0 0;
      animation: ClickMe 1s ease infinite;
      cursor: pointer;
    }
  }
  .otherWrapper {
    position: relative;
    top: -1.6em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    .socialMediaIcons {
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}
.img {
  width: 3.1em;
  height: 3.1em;
  margin: 0.75em;
}
.letterStyled{
  color: var(--highlight);
  transition: color 1s ease;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
@keyframes ClickMe {
  0%,
  100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(16deg);
  }
  50% {
    transform: rotate(-16deg);
  }
  60% {
    transform: rotate(16deg);
  }
  70% {
    transform: rotate(-16deg);
  }
}

.error {
  margin-left: 0.75em;
  color: #e04242;
}

@media screen and (max-width: 900px) {
  .container {
    font-size: 14px;
  }
}
@media screen and (max-width: 770px) {
  .container {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .container {
    font-size: 11px;
  }
}
@media screen and (max-width: 420px) {
  .titleContainer {
    font-size: 3.4em;
  }
}
@media screen and (max-width: 390px) {
  .titleContainer {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 360px) {
  .titleContainer {
    font-size: 3em;
  }
}
