.container {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 10;
  font-size: 16px;
  ul {
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    align-items: left;
    white-space: nowrap;
  }
}
.divLi {
  overflow: hidden;
  height: fit-content;
}
.li {
  width: fit-content;
  font-family: var(--fontTitles);
  overflow: hidden;
  transform: translateY(32%);
  transition: transform 0.2s ease;
  color: var(--color);
  div {
    transition: transform 0.5s;
    .p {
      transition: color 0.2s;
      font-size: 4.8em;
      &:hover {
        color: var(--fill);
      }
      .number {
        color: var(--highlight);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        font-size: .4em;
        position: relative;
        top: -10px;
      }
    }
  }
  &:hover {
    transform: translateY(12%);
  }
}
.yourehere{
  p{
    display: flex;
    svg{
      width: 2em;
      transform: rotate(-32deg);
      fill: var(--highlight);
    }
  }
}
.largeLetter{
  transition: color 1s ease;
  color: var(--highlight);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  display: inline-block;
  transform: scaleX(1.8);
  margin: 0 .3em;
}

@media screen and (max-width: 600px) {
  .container{
    font-size: 13px;
  }
}
@media screen and (max-width: 450px) {
  .container{
    font-size: 10px;
  }
}
@media screen and (max-width: 350px) {
  .container{
    font-size: 8px;
  }
}