@media only screen and (min-width: 770px) {
  .mainContainer {
    &:hover .dotHover {
      width: 34px;
      border: 2px solid var(--fill);
    }
    &:hover .dotHov {
      opacity: 0;
    }
  }
}
.container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.lineWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dot {
  width: 8px;
  height: 8px;
  transition: all 0.5s;
  transition-property: width, transform, opacity;
  border-radius: 100px;
  border: 2px solid var(--fill);
}
.dotLeave {
  opacity: 0;
}
