.container {
  z-index: 20;
  position: relative;
}
.wrapper {
  right: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.logo {
  left: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.wrapper,
.logo {
  position: fixed;
  top: 4em;
}
@media screen and (max-width: 570px) {
  .logo {
    top: 2em;
    left: 2em;
  }
  .wrapper {
    top: 2em;
    right: 2em;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    top: 1em;
    left: 1em;
  }
  .wrapper {
    top: 1em;
    right: 1em;
  }
}
