.container {
  width: 100%;
  position: fixed;
  top: 96px;
  z-index: var(--zIndexNav);
  nav {
    padding: 0 10px;
    width: 100%;
    max-width: 1200px;
    min-width: 270px;
    margin: auto;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
