.container {
  width: 100%;
  position: fixed;
  top: 96px;
  z-index: 3;
  nav {
    padding: 0 102px;
    width: 100%;
    min-width: 270px;
    margin: auto;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
