@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inzdeco";
  src: url(/fonts/INZYDECO.otf);
}

:root {
  --zIndexCursor: 10;
  --zIndexNav: 100;
  --zIndexHome: 1000;
  --zIndexMenu: 10000;
  --zIndexWorkCard: 10000;
  --borderRadius: 12px;
  --background: #f1f6f9;
  --color: #394867;
  --fill: #212a3e;
  --fillHov: #f1f6f9;
  --colorHov: #f1f6f9;
}
*[theme="dark"] {
  --background: #2b2b33;
  --color: #9ba4b5;
  --fill: #f1f6f9;
  --fillHov: #212a3e;
  --colorHov: #212a3e;
}
.myLogo {
  fill: var(--fill);
  width: 100%;
  max-width: 48px;
  max-height: 48px;
}
.myLogo:focus{
    fill: var(--color);
}
